
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Spacing
@import "spacing";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

img {
    width: 100%;
}